<html>
    <head>
        <title>
            <%=title%>
        </title>
        <script src="https://kit.fontawesome.com/c5c0c2ae0d.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!--this is navigation bar-->
        <nav class="nav-bar">
            <h1>ToDo App</h1>
        </nav>
        <div>
            <!--link to pop-up for adding new to do items-->
            <a class="trigger_popup_fricc"><i class="fas fa-plus"></i>&nbsp; Add New</a>
            <!--pop up box begin-->
            <div class="hover_bkgr_fricc">
                <span class="helper"></span>
                <div>
                    <form action="/add-item" method="POST" class="add-contact-form">
                            <div class="label">
                                <input type="text" id="label" name="label" placeholder="Add a Task" required>
                            </div>
                            <div class="dateCategory">
                                <input type="date" name="dueDate" required class="date">
                                <div>
                                    <select name="category" class="category" required>
                                        <option value="other">Category</option>
                                        <option value="personal">Personal</option>
                                        <option value="office">Office</option>
                                        <option value="house">House</option>
                                        <option value="health">Health</option>
                                        <option value="work">Work</option>
                                    </select>
                                    <select name="priority" class="priority">
                                        <option value="6">Priority</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div>
                                    <div class="popupCloseButton">Cancel</div>
                                    <button type="submit" id="ADD">
                                        Add
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <!--pop - up box end-->
        </div>
        <!--to list dispalyed along with checkbox to delete the selected items-->
        <div>
            <form action="/delete_task" method="POST">
                <div class="display-task">
                    <!-- for loop containing to do list items with id,label, dueDate and -->
                    <% for(let i of to_do_list) {%>
                        <div class="task-card">
                                <div class="task">
                                    <input type="checkbox" class="checkbox" name="taskDone" value="<%= i.id %>" >
                                    <div>
                                        <h1 class="toDolabel"><%= i.label %></h1>
                                        <p class="toDoDate">  
                                            <i class="fas fa-calendar-alt"></i>&nbsp; <%= i.dueDate %>
                                        </p>
                                    </div>
                                </div>
                                <!--different box color for different type of work-->
                                <% if(i.category==="other"){ %>
                                    <div class="card other">
                                        &nbsp;<%= i.category %>&nbsp;
                                    </div>  
                                <% }else if(i.category==="personal"){ %>
                                    <div class="card personal">
                                        &nbsp;<%= i.category %>&nbsp;
                                    </div> 
                                <%}else if(i.category==="office"){ %>
                                    <div class="card office">
                                        &nbsp;<%= i.category %>&nbsp;
                                    </div> 
                                <% }else if(i.category==="house"){ %>
                                    <div class="card house">
                                        &nbsp;<%= i.category %>&nbsp;
                                    </div> 
                                <% }else if(i.category==="health"){ %>
                                    <div class="card health">
                                        &nbsp;<%= i.category %>&nbsp;
                                    </div> 
                                <% }else{ %>
                                    <div class="card work">
                                        &nbsp;<%= i.category %>&nbsp;
                                    </div> 
                                <%}%>
                        </div>
                    <% } %> 
                </div>
                    <!--delete button to delte the checked items-->
                    <button type="submit" id="delete"><i class="fas fa-trash"></i>&nbsp; Delete</button>
            </form>
        </div>
        <script type="text/javascript" src="/js/home.js">
        </script>
    </body>
</html>